﻿@{

    ViewBag.Title = "My Data Analytics Dashboard Application";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--<script src="~/Scripts/modernizr-2.6.2.js"></script>-->


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="~/Scripts/gender.js"></script>
<script src="~/Scripts/class.js"></script>
<script src="~/Scripts/currentSpecialization.js"></script>
<script src="~/Scripts/furtherSpecialization.js"></script>
<script src="~/Scripts/University.js"></script>
<script src="~/Scripts/AbroadOrHome.js"></script>
<link href="~/Content/myDashboardStyle.css" rel="stylesheet" />
<div align="center">
    <br />
    <br />
    <hr class="hrstyle" align="center" width="100%" />
    <div id="gender-container" style="width:300px;height:300px;"></div>
    <br />
    <br />
    <hr class="hrstyle1" align="center" width="100%" />
    <div id="class-container" style="width:1000px;height:500px;"></div>
    <br><br>
    <hr class="hrstyle2" align="center" width="100%" />
    <div id="abroadorhome-container" style="width:1000px;height:500px;"></div>

    <hr class="hrstyle3" align="center" width="100%" />
    <div id="myDIV" align="center" style=" margin-bottom: 0px;">
        <button type="button" class="button-menu active " id="defaultActive" name="Maros">Maros megye</button>
        <button type="button" class="button-menu " name="Hargita">Hargita megye</button>
        <button type="button" class="button-menu " name="Kovaszna">Kovászna megye</button>
        <br />
        <br />
        <br />
        <div class="chart-series">
            <br />
            <div id="currentSpecialization-container" style="width: 310px;  height: 450px;  float:left;"></div>
            <div id="furtherSpecialization-container" style="width: 310px;  height: 450px; float:left;"></div>
            <div id="university-container" style="width: 310px;  height: 450px; float:left;"></div>


        </div>
    </div>


</div>

<script>


    $.get("http://localhost:51215/Api/Chart/AbroadOrHome_chart", function (professionData) {
        console.log(professionData);
    });


    $(document).ready(function () {
        setTimeout(function () {
            $("#defaultActive").trigger('click');
        }, 50);
    });
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("button-menu");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";



        });
    }
</script>
